<%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th class="col txt-montserrat-600 color-green">Enlace</th>
                    <th class="col txt-montserrat-600 color-green">Descripción</th>
                    <th class="col txt-montserrat-600 color-green">Escuela</th>
                </tr>
            </thead>
            <tbody>
                <%let numPerpage = data.tesisPageCount
                   for(let i = 0; i<numPerpage; i++){%>
                <tr>
                    <td class="txt-montserrat-400"><a href=<%= data.tesis[i].path%>><img src="image/tesis-icono.png" alt="" class="img-tesis"></a></td>
                    <td class="txt-montserrat-400"><%=data.tesis[i].descripcion%></td>
                    <td class="txt-montserrat-400"><%=data.tesis[i].tipo_escuela%></td>
                </tr>
                <%}%>
            </tbody>
        </table>
        <div class="container mx-auto" style="width: 500px;">
            <form action="/" method="get" class="d-flex mb-5" style="margin-top: 10px;" >
              <select class="form-select" name="selectSchool" id="text3" style="width: 500px; margin-right: 10px;">
                <!-- <option value="">Selecciona una opcion</option> -->
                <option selected value="<%=schoolSelect%>"></option>
                <option value="">Mostrar todas</option>
                <option value="Ingenieria">Ingenieria en Sistemas</option>
                <option value="DGrafico">Diseño Grafico</option>
                <option value="Enfermeria">Enfermeria</option>
                <option value="Nutricion">Nutrición</option>
                <option value="Gastronomia">Gastronomia</option>
                <option value="Contabilidad">Contabilidad</option>
                <option value="Teologia">Teología</option>
                <option value="Ciencias">Ciencias</option>
              </select>
                <input name='submit' type='submit' value='Buscar' class="btn bk-color-yellow color-white"> <br>
                <%const totalPages = data.totalPaginas
                    for(let i = 1; i<=totalPages; i++){%>
                        <button name="pageSelect" value="<%=i%>" class="btn txt-montserrat-600 color-green"><%=i%></button>
                    <%}%>
            </form>
          </div>
    </div>

</body>
<%- include('../partials/footer'); %>
</html>